<!--base.html-->
<!--网站的基本模板，提供网站的主要设计-->

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    
    <title>
        {% block title %} {% endblock %}
    </title>
    <!--把boostrap连接的css写在另个html-->
    {% include 'link_script.html' %}

</head>
<body>
    <!--导入指定的模板文件-->
    <div class='container-fluid'>
        {% include 'header.html' %}
        {% include 'left_menu.html' %}
        
    <div class="col-sd-8 col-md-8">
    <div class='panel panel-default'>
    <div class='panel-heading'>
    <!--指定3个区块 title、headmessage、content，等待index.html继承-->
        {% block headmessage %} {% endblock %}
    </div>

    <div class='panel-body'>
        {% block content %} {% endblock %}
    </div>
    
    <div class='panel-footer'>
            {% include 'footer.html' %}
                         </div>
                    </div>
            </div>
        </div>
        
    </body>
</html>