<!--post.html-->
<!--用来显示单篇文章的网页-->
{% extends 'base.html' %}
{% load markdown_deux_tags%}

{% block title %}
    {{post.title}} 
{% endblock %}

{% block headmessage %}
    <h3 style = 'font-family: 微软雅黑;' align="center"> {{post.title}} </h3>
{% endblock %}

{% block content %}
<div class="panel-body" style="background-color:#ffffdd " align='center'>
    <p style = 'font-family:微软雅黑;font-size: 14pt;letter-spacing: 2pt;' >
        {{post.body|markdown}}
    </p>
</div>
{% endblock %}